
/* @import */



/* REBOOT */

* {
    box-sizing: border-box;
    /* border: 1px dashed white;
    background-color: rgba(0,0,0,0.2); */
}

img, video, svg {
    max-width: 100%;
    height: auto;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    min-height: 75vh;
}

ul, a, li {
    list-style: none;
    text-decoration: none;
}


/* ANCHOR SIZING */
.w-10p { width: 10%; }
.w-20p { width: 20%; }
.w-25p { width: 25%; }
.w-30p { width: 30%; }
.w-33p { width: 33.3333%; }
.w-40p { width: 40%; }
.w-50p { width: 50%; }
.w-60p { width: 60%; }
.w-66p { width: 66.6667%; }
.w-70p { width: 70%; }
.w-75p { width: 75%; }
.w-80p { width: 80%; }
.w-90p { width: 90%; }
.w-100p { width: 100%;}

.max-w-50   { max-width: 50px; }
.max-w-75   { max-width: 75px; }
.max-w-100  { max-width: 100px; }
.max-w-125  { max-width: 125px; }
.max-w-150  { max-width: 150px; }
.max-w-175  { max-width: 175px; }
.max-w-200  { max-width: 200px; }
.max-w-225  { max-width: 225px; }
.max-w-250  { max-width: 250px; }
.max-w-275  { max-width: 275px; }
.max-w-300  { max-width: 300px; }
.max-w-350  { max-width: 350px; }
.max-w-400  { max-width: 400px; }
.max-w-450  { max-width: 450px; }
.max-w-500  { max-width: 500px; }
.max-w-600  { max-width: 600px; }
.max-w-700  { max-width: 700px; }
.max-w-800  { max-width: 800px; }
.max-w-900  { max-width: 900px; }
.max-w-1000 { max-width: 1000px; }

.height-100v{height: 100vh;}

/* ANCHOR SPACING */
.gap-0   { gap: 0; }
.gap-1   { gap: 4px; }
.gap-2   { gap: 8px; }
.gap-3   { gap: 12px; }
.gap-4   { gap: 16px; }
.gap-5   { gap: 20px; }
.gap-6   { gap: 24px; }
.gap-8   { gap: 32px; }
.gap-10  { gap: 40px; }
.gap-12  { gap: 48px; }
.gap-16  { gap: 64px; }
.gap-20  { gap: 80px; }
.gap-24  { gap: 96px; }
.gap-32  { gap: 128px; }
.gap-40  { gap: 160px; }
.gap-48  { gap: 192px; }
.gap-56  { gap: 224px; }
.gap-64  { gap: 256px; }



.gap-1p   { gap: 1%; }
.gap-2p   { gap: 2%; }
.gap-3p   { gap: 3%; }
.gap-4p   { gap: 4%; }
.gap-5p   { gap: 5%; }
.gap-6p   { gap: 6%; }
.gap-8p   { gap: 8%; }
.gap-10p  { gap: 10%; }
.gap-12p  { gap: 12%; }
.gap-15p  { gap: 15%; }
.gap-20p  { gap: 20%; }
.gap-25p  { gap: 25%; }
.gap-30p  { gap: 30%; }

.p-0   { padding: 0; }
.p-1   { padding: 4px; }
.p-2   { padding: 8px; }
.p-3   { padding: 12px; }
.p-4   { padding: 16px; }
.p-5   { padding: 20px; }
.p-6   { padding: 24px; }
.p-8   { padding: 32px; }
.p-10  { padding: 40px; }
.p-12  { padding: 48px; }
.p-16  { padding: 64px; }
.p-20  { padding: 80px; }
.p-24  { padding: 96px; }
.p-32  { padding: 128px; }

/* ANCHOR FLEX PARENT */
.flex{display: flex;}

.flex-row{flex-direction: row;}

.justify-start { justify-content: flex-start; }
.justify-center { justify-content: center; }
.justify-end { justify-content: flex-end; }
.justify-between { justify-content: space-between; }
.justify-around { justify-content: space-around; }
.justify-evenly { justify-content: space-evenly; }

/* ANCHOR FLEX ENFANT */
.items-start     { align-items: flex-start; }
.items-center    { align-items: center; }
.items-end       { align-items: flex-end; }
.items-stretch   { align-items: stretch; }
.items-baseline  { align-items: baseline; }

/* ANCHOR TYPO */
.text-xs    { font-size: 0.75rem;  }  /* 12px */
.text-sm    { font-size: 0.875rem; }  /* 14px */
.text-base  { font-size: 1rem;     }  /* 16px */
.text-lg    { font-size: 1.125rem; }  /* 18px */
.text-xl    { font-size: 1.25rem;  }  /* 20px */
.text-2xl   { font-size: 1.5rem;   }  /* 24px */
.text-3xl   { font-size: 1.875rem; }  /* 30px */
.text-4xl   { font-size: 2.25rem;  }  /* 36px */
.text-5xl   { font-size: 3rem;     }  /* 48px */
.text-6xl   { font-size: 3.75rem;  }  /* 60px */
.text-7xl   { font-size: 4.5rem;   }  /* 72px */
.text-8xl   { font-size: 6rem;     }  /* 96px */
.text-9xl   { font-size: 8rem;     }  /* 128px */

.text-10px  { font-size: 10px; }
.text-12px  { font-size: 12px; }
.text-14px  { font-size: 14px; }
.text-16px  { font-size: 16px; }
.text-18px  { font-size: 18px; }
.text-20px  { font-size: 20px; }
.text-24px  { font-size: 24px; }
.text-30px  { font-size: 30px; }
.text-36px  { font-size: 36px; }
.text-48px  { font-size: 48px; }
.text-60px  { font-size: 60px; }
.text-72px  { font-size: 72px; }
.text-96px  { font-size: 96px; }

.text-left    { text-align: left; }
.text-center  { text-align: center; }
.text-right   { text-align: right; }
.text-justify { text-align: justify; }

.text-black { color: #000000; }
.text-white { color: #ffffff; }



/* ANCHOR BACKGROUND */
.bg-alice { background-color: #ECE2D0;};
.bg-black {background-color: black;}



/*  ANCHOR BORDURE */
.border-black {border: solid 1px black;}
.border-bot {border-bottom: solid 1px rgba(102, 102, 102, 0.652);}
.border-rad {border-radius: 25px;}



/* ANCHOR Position */

.static     { position: static; }
.relative   { position: relative; }
.absolute   { position: absolute; }
.fixed      { position: fixed; }
.sticky     { position: sticky; }

/* ANCHOR OFFSET (top / right / bottom / left) */
.top-0      { top: 0; }
.top-1      { top: 10%;}  
.top-2      { top: 20%;}   
.top-4      { top: 30%;}      
.top-8      { top: 40%;}  
.top-16     { top: 50%;}
.top-32     { top: 60%;}  
.top-64     { top: 70%;}    
.top-128    { top: 80%;}      
.top-256    { top: 90%;}  
.top-512    { top: 100%}     

.right-0    { right: 0; }
.right-1    { right: 0.25rem; }
.right-2    { right: 0.5rem; }
.right-4    { right: 1rem; }
.right-8    { right: 2rem; }

.bottom-0   { bottom: 0; }
.bottom-1   { bottom: 0.25rem; }
.bottom-2   { bottom: 0.5rem; }
.bottom-4   { bottom: 1rem; }
.bottom-8   { bottom: 2rem; }

.left-0     { left: 0; }
.left-1     { left: 0.25rem; }
.left-2     { left: 0.5rem; }
.left-4     { left: 1rem; }
.left-8     { left: 2rem; }


   /* ANCHOR OBJECT-FIT */
   

.object-contain   { object-fit: contain; }
.object-cover     { object-fit: cover; }
.object-fill      { object-fit: fill; }
.object-none      { object-fit: none; }
.object-scale-down{ object-fit: scale-down; }



/* ANCHOR plan */
.z-0    { z-index: 0; }
.z-1   { z-index: 10; }
.z-2   { z-index: 20; }
.z-3   { z-index: 30; }
.z-4   { z-index: 40; }
.z-5   { z-index: 50; }
.z-auto { z-index: auto; }


/* ANCHOR CUSTOM */
.hero{
    height: 80vh;
    position: relative;
    overflow: hidden;
}

.hero__video-bg {
  filter: blur(30px) brightness(0.5) saturate(1.2);
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(110%);
  
}

.hero__presentation{
    position: absolute;
    width: 65%;
    top: 50%; left: 50%;
    transform: translate(-50% , -50%);
}

.hero__video{
    width: 100%;
}

.hero__presentation-txt{
position: absolute;
 bottom: 0;
 left: 0;
 right: 0;
 padding: 16px;
 background-image: linear-gradient(to bottom, rgba(0,0,0,0),rgba(0,0,0,1));
 color: #ffffff;
 display: flex;
 justify-content: center;
 flex-direction: column;
 align-items: center;

}


